<a href="https://colab.research.google.com/github/Daffaireng/giganiqqa/blob/main/Week_enam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
range(3)

range(0, 3)

In [ ]:
dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973

In [ ]:
for i in range(-2, 8):
    print(i)

-2
-1
0
1
2
3
4
5
6
7

In [ ]:
squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white

In [ ]:
squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

In [ ]:
dates = [1982, 1980, 1973, 2000]

i = 0
year = 0

while(year != 1973):
    year = dates[i]
    i = i + 1
    print(year)

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
1973
It took  3 repetitions to get out of loop.

In [ ]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end=" ")
    print('')

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [ ]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [ ]:
names = ['hoo', 'lee', 'shet']
for name in names:
    count = 0
    while count < 5:
        print(name,end=' ')
        count = count + 1
    print()

hoo hoo hoo hoo hoo
lee lee lee lee lee
shet shet shet shet shet

In [ ]:
for i in range(4):
    for j in range(4):
        if j == 1:
            break
        print(i, j)

0 0
1 0
2 0
3 0

In [ ]:
first = [2, 4, 6]
second = [2, 4, 6]
for i in first:
    for j in second:
        if i == j:
            continue
        print(i, '*', j, '=', i * j)

2 * 4 = 8
2 * 6 = 12
4 * 2 = 8
4 * 6 = 24
6 * 2 = 12
6 * 4 = 24

In [ ]:
i = 1
while i <=5:
    j = 1
    while j <= 10:
        print(i * j, end=' ')
        j = j + 1
    print()
    i = i + 1

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50

In [ ]:
print('show perfect number from 1 to 100')
n= 2
while n<= 100:
    x_sum = 0
    for i in range(1, n):
        if n % i == 0:
            x_sum += i
    if x_sum == n:
        print('perfect number', n)
    n += 1

show perfect number from 1 to 100
perfect number 6
perfect number 28

In [ ]:
n = int(input("jumlah baris : "))
for i in range(n):
  print(' ' * (n - i), end=' ')
  for j in range(i+1):
    print('*', end=' ')
  print()

jumlah baris : 6
       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *

In [ ]:
n = int(input("Jumlah baris : "))
for i in range(n):
  print(' ' * (n - i), end=' ')
  x = 1
  for j in range(i+1):
    print(x, end=' ')
    x = x * (i - j) // (j + 1)
  print()

Jumlah baris : 3
    1
   1 1
  1 2 1

Masukkan nomor baris: 23
Jumlah angka pada baris ke- 23 adalah: 8388608.0

In [ ]:
def kombinasi(n, k):
  if k == 0 or k == n:
    return 1
  else:
    return kombinasi(n-1, k-1) + kombinasi(n-1, k)

def jumlah_baris_pascal(n):
  jumlah = 0
  for k in range(n+1):
    jumlah += kombinasi(n, k)
  return jumlah

# Input dari pengguna
n = int(input("Masukkan nomor baris: "))

# Hitung dan tampilkan hasil
hasil = jumlah_baris_pascal(n)
print("Jumlah angka pada baris ke-", n, "adalah:", hasil)

Masukkan nomor baris: 2
Jumlah angka pada baris ke- 2 adalah: 4

In [ ]:
jumlah_baris = int(input("Masukkan jumlah baris: "))

segitiga_pascal = []
for i in range(jumlah_baris):
    baris = []
    for j in range(i + 1):
        if j == 0 or j == i:
            baris.append(1)
        else:
            baris.append(segitiga_pascal[i - 1][j - 1] + segitiga_pascal[i - 1][j])
    segitiga_pascal.append(baris)

if jumlah_baris > 0:
    print("Segitiga Pascal:")
    last_angka_baris = segitiga_pascal[jumlah_baris - 1]
    print("Angka dalam sebaris segitiga pascal ", end=' ')
    for angka in last_angka_baris:
        print(angka, end=' ')
    print()
    jumlah_angka = 0
    for angka in last_angka_baris:
        jumlah_angka += angka
    print("Jumlah angka dalam baris terakhir:", jumlah_angka)
else:
    print("Jumlah baris harus lebih besar dari 0.")

Masukkan jumlah baris: 6
Segitiga Pascal:
Angka dalam sebaris segitiga pascal  1 5 10 10 5 1
Jumlah angka dalam baris terakhir: 32

In [ ]:
def pascal_triangle_row(n):
    row = [1]
    for k in range(1, n):
        row.append(row[k - 1] * (n - k) // k)
    return row

def sum_pascal_row(n):
    row = pascal_triangle_row(n)
    return sum(row)

# Example usage
n = int(input("Masukkan angka: "))
row = pascal_triangle_row(n)
sum_row = sum_pascal_row(n)

print(f"Baris ke-{n} dari segitiga Pascal adalah: {row}")
print(f"Jumlah angka dalam baris tersebut: {sum_row}")

Masukkan angka: 2
Baris ke-2 dari segitiga Pascal adalah: [1, 1]
Jumlah angka dalam baris tersebut: 2

In [ ]:
dates = [1982, 1980, 1973, 2000]

i = 0
year = 0

while(year != 1973):
    year = dates[i]
    i = i + 1
    print(year)

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
1973
It took  3 repetitions to get out of loop.

In [ ]:
for i in range(4):
    for j in range(4):
        if j == i:
            break
        print(i, j)

1 0
2 0
2 1
3 0
3 1
3 2

In [ ]:
names = ['Daffa', 'Obama', 'Drake']
for name in names:
    count = 0
    while count < 5:
        print(name, end=' ')
        count = count + 1
    print()

Daffa Daffa Daffa Daffa Daffa
Obama Obama Obama Obama Obama
Drake Drake Drake Drake Drake

In [ ]:
for i in range(1, 11):
    # nested loop
    # to iterate from 1 to 10
    for j in range(1, 11):
        # print multiplication
        print(i * j, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100